
*{
    font-size: 32px;
    font-weight: 400;
    font-family: 'Lato';
    background-color: rgb(213, 237, 247);
    
}

main{
    display: flex;
    margin-bottom: 40px;
    margin-left: 80px;
}

.mensaje1{
    border: none;
    color: black;
    margin-top: 70px;
    text-transform: lowercase;
}

::placeholder{
    color: black;
}.mensaje1:focus{
    outline: none;
}

.mensaje2{
    background-color: white;
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: black;
    margin-left: 20%;
    margin-top: 0%;
    padding-left: 20px;
    position: absolute;
    opacity: 70%;
}

.mensaje2:focus{
    outline: none;
}

.btn{
    display: flex;
    margin-top: 18px ;

}

.btn-desencriptar{
    background: #D8DFE8;
    border: 1px solid rgb(120, 120, 236);
    border-radius: 15px;
    cursor: pointer;
    height: 50px;
    margin-left: 30px;
    width: 220px;
}

.btn-encriptar{
    background: #89b6f1;
    border: 1px solid rgb(5, 5, 5);
    border-radius: 15px;
    cursor: pointer;
    height: 50px;
    margin-left: 30px;
    width: 220px;
}

.muneco{
    width: 84%;
    margin-left: -10%;
}

.btn-copiar{
    border: 1px solid rgb(92, 128, 226);
    border-radius: 15px;
    cursor: pointer;
    color: #0A3871;
    height: 50px;
    margin-left: 23%;
    margin-top: -15%;
    position: absolute;
    width: 220px;
}

.informacion{
    color: black;
    font-size: 18px;
}

header{
    background-color: rgb(213, 237, 247);
    padding: 10px 0;
    font-family: 'Lato', sans-serif;
}

.caja{
    width: 90%;
    position: relative;
    margin: 0.5% auto;
    font-size: 32px;
    color: white;
}


footer{
    background: rgb(130, 193, 218);
    padding: 1em 0;
    text-align: center;
    margin-top: -2%;
    font-family: 'Lato', sans-serif;
    color: rgb(0, 0, 0);
    height: 1.5rem;
}

.copy{
    background: rgb(130, 193, 218);
}
